.cdNews {
  display: grid;
  grid-template-rows: 150px 81px 11px 36px;
  row-gap: 6px;
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  padding: 18px 18px;
}

.imgCdNews {
  min-width: 215px;
  min-height: 150px;
  border-radius: 9px;
  background: #c2c2c2;
  background: linear-gradient(75deg, #c2c2c2 0%, #e7e7e7 25%, #e7e7e7 75%,  #c2c2c2 100%);
}

.titleCdNews {
  font-size: 18px;
}

.dtCdNews {
  font-size: 10px;
  justify-self: end;
  align-self: center;
}

.textCdNews {
  font-size: 12px;
}

.main.cdNews {
  grid-template-rows: 345px 81px 12px 54px;
}

.main .imgCdNews {
  min-width: 480px;
  min-height: 345px;
}

.main .titleCdNews {
  font-size: 30px;
}

.main .dtCdNews {
  font-size: 11px;
}

.main .textCdNews {
  font-size: 15px;
}
